@model PerformerProfile

<div class="performer @(Model.Active?"active":"inactive")">
     @Html.DisplayFor(m=>m.Performer)

     <ul>
         <li> @SR["Rating"]: @Model.Rate % </li>
        @if (Model.WebSite!=null) { 
            <li>@SR["WebSite"]: <a target="yaext" href="@Model.WebSite">@Model.WebSite</a></li>
        }
        
    </ul>
   
</div>
