@model PerformerProfile

<div class="performer @(Model.Active?"active":"inactive")">
     
     @Html.DisplayFor(m=>m.Performer)

     <ul>
         <li> @SR["Rating"]: @Model.Rate % </li>
        @if (Model.MinDailyCost != null) {
            <li>@SR["MinDailyCost"]: @Model.MinDailyCost&euro;</li>
        }
        @if (Model.MinDailyCost != null) {
            <li>@SR["MaxDailyCost"]: @Model.MaxDailyCost&euro;</li>
        }
        @if (Model.WebSite!=null) { 
            <li>@SR["WebSite"]: @Model.WebSite</li>
        }
        
    </ul>
   
</div>
