@model PerformerProfile

<div class="performer @(Model.Active?"active":"inactive")">
     
              <img src="~/Avatars/@(Model.Performer.UserName).xs.png" alt="avatar"> 
     
             @Model.Performer?.UserName 

     <ul>
         <li> @SR["Rating"]: @Model.Rate % </li>
        @if (Model.MinDailyCost != null) {
            <li>@SR["MinDailyCost"]: @Model.MinDailyCost&euro;</li>
        }
        @if (Model.MinDailyCost != null) {
            <li>@SR["MaxDailyCost"]: @Model.MaxDailyCost&euro;</li>
        }
        @if (Model.WebSite!=null) { 
            <li>@SR["WebSite"]: @Model.WebSite</li>
        }
        @if (Model.Performer.Posts!=null) {
            <li>  <a asp-controller="Blogspot" asp-action="UserPosts" 
            asp-route-id="@Model.Performer.UserName">@SR["His blog"]</a>
            </li>
        }
        @if (Model.Performer != null) {
        @if (!string.IsNullOrEmpty(
            Model.Performer.DedicatedGoogleCalendar))
            {
            <li>   @SR["Exposes his Google calendar!"]
            </li>
            }
        @if (Model.Performer.Devices?.Count>0)
            {
            <li>   @SR["Uses the mobile application, and receives push notifications"]
            </li>
            }
     }

    </ul>
   
</div>
