@model Yavsc.Models.Messaging.Notification

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.click_action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.click_action)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sound)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
