@model Yavsc.Models.Relationship.HyperLink

@{
    ViewData["Title"] = @SR["Delete"];
}

<h2>@SR["Delete"]</h2>

<h3>@SR["AreYourSureYouWantToDeleteThis"]</h3>
<div>
    <h4>@SR["HyperLink"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
       <input asp-for="HRef" type="hidden" />
       <input asp-for="Method" type="hidden" />
        <div class="form-actions no-color">
            <input type="submit" value="@SR["Delete"]" class="btn btn-default" /> |
            <a asp-action="Index">@SR["Back to List"]</a>
        </div>
    </form>
</div>
