@model IEnumerable<Yavsc.Models.Relationship.HyperLink>

@{
    ViewData["Title"] = @SR["Index"];
}

<h2>@SR["HyperLink"] - @SR["Index"]</h2>

<p>
    <a asp-action="Create">@SR["Create New"]</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rel)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rel)
        </td>
        <td>
            @Html.ActionLink(SR["Edit"], "Edit", new { hRef=item.HRef, method = item.Method }) |
            @Html.ActionLink(SR["Details"], "Details", new { hRef=item.HRef, method = item.Method }) |
            @Html.ActionLink(SR["Delete"], "Delete", new { hRef=item.HRef, method = item.Method })
        </td>
    </tr>
}
</table>
