@model Yavsc.Server.Models.IT.Project

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Repository" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <select asp-for="Repository" class ="form-control"  asp-items="@ViewBag.RepositoryItems"></select>
                <span asp-validation-for="Repository" class="text-danger" />
            </div>
        </div>
      <div class="form-group">
            <label asp-for="ActivityCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <select asp-for="ActivityCode" class ="form-control" asp-items="@ViewBag.ActivityCodeItems" ></select> 
            </div>
        </div> 
         <div class="form-group">
            <label asp-for="ClientId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
             <select asp-for="ClientId" class ="form-control"  asp-items="@ViewBag.ClientIdItems"></select>
         </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class ="form-control"  aria-required="true" ></input>
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OwnerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OwnerId" asp-items="@ViewBag.OwnerIdItems" class="form-control" >
                    </select>
                <span asp-validation-for="OwnerId" class="text-danger" />
            </div>
        </div>
      <div class="form-group">
            <label asp-for="PerformerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 <select asp-for="PerformerId" class ="form-control"  asp-items="@ViewBag.PerformerIdItems"></select>
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="Previsional" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Previsional" class="form-control" />
                <span asp-validation-for="Previsional" class="text-danger" />
            </div>
        </div>
       <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 <select asp-for="Status" class="form-control" asp-items="@ViewBag.Status" ></select>
              <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Version" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

