@model RdvQuery
@using Yavsc.Models.Google.Messaging
@{
    ViewData["Title"] = "Command confirmation"+" "+ViewBag.Activity.Name;
}
<h2>@ViewData["Title"]</h2>
    <div class="form-horizontal">
        <h4>Your book query</h4>
        <hr />
        <label for="EventDate">Event date</label>: @Html.DisplayFor(m => m.EventDate)
        <br/>

        <label for="Location">Location</label>: @Html.DisplayFor(m => m.Location)
        <br/>

        @if (ViewBag.GooglePayload !=null) 
        {
            @if (ViewBag.GooglePayload.success>0) {
                <h4>GCM Notifications sent</h4>
            }
            else {
                if (ViewBag.GooglePayload.failure>0)
                    {
                        <h4>GCM Notification sending failed</h4>
                        <pre><code>@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.GooglePayload)</code></pre>
                    }
            }
        }
        @if (ViewBag.EmailSent!=null)
         {
if (ViewBag.EmailSent.Sent) {
                <h4>@String.Format("EmailSentToPerformer",User.GetUserName())</h4>
} else {
  var sent = ViewBag.EmailSent;

<h4>Une erreur est survenue à lenvoi de l'e-mail au préstataire ...</h4>
 <environment names="Development"> 
 <text>Mail:</text> @sent.EMail;
 <text>MsgId:</text> @sent.MessageId;
 <text>Sent:</text> @sent.Sent;
 <text>Error:</text> @sent.ErrorMessage;
</environment>
}
         }
</div>


