@model Yavsc.Server.Models.Access.CircleAuthorizationToFile

@{
    ViewData["Title"] = "Details";
}

<h2>@SR["Details"]</h2>

<div>
    <h4>@SR["CircleAuthorizationToFile"]</h4>
    <hr />

            <dl class="dl-horizontal">
                <dt><label >@SR["Circle"]</label></dt>
                <dd>@Model.Circle.Name</dd>
                <dt><label asp-for="FullPath" ></label></dt>
                <dd>@Model.FullPath</dd>
            </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit",  new { circleId=Model.CircleId, fullPath=Model.FullPath }) |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
