@model UserActivity

@{
    ViewData["Title"] = SR["Details"];
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Détails de votre activité @Model.DoesCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@SR["Activity"]</dt>
        <dd>   @Html.DisplayFor(m=>m.Does)
          @if (ViewBag.HasConfigurableSettings) {
              <a asp-controller="@ViewBag.SettingsControllerName" asp-action="Index" >
                  [@SR["Manage"] @SR[Model.Does.SettingsClassName]]
              </a>
            }
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.UserId" asp-route-activityCode="@Model.DoesCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
