@model UserActivityViewModel

@{
    ViewData["Title"] = SR["Details"];
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Détails de votre activité en <em>@Model.Declaration.Does.Name</em></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@SR["Activity"]</dt>
        <dd>   @Html.DisplayFor(m=>m.Declaration.Does)
          @if (ViewBag.HasConfigurableSettings) {
              <a asp-controller="@ViewBag.SettingsControllerName" asp-action="Index" class="btn btn-default">
                  @SR[Model.Declaration.Does.SettingsClassName]

                NeedsSettings: @Model.NeedsSettings
                HasSettings:  @Model.HasSettings

              </a>
            }
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Declaration.UserId" asp-route-activityCode="@Model.Declaration.DoesCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
