@model IEnumerable<Yavsc.Models.Workflow.UserActivity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>@SR["Activity"]</th>
        <th>@SR["Weight"]</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td> @item.Does.Name
        </td>
        <td> @item.Weight
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.UserId" asp-route-activityCode="@item.DoesCode">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.UserId" asp-route-activityCode="@item.DoesCode">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UserId" asp-route-activityCode="@item.DoesCode">Delete</a>
        </td>
    </tr>
}
</table>
