@model HairCutQuery
@{
    ViewData["Title"] = SR["Command confirmation"]+" "+ViewBag.Activity.Name;
}
<h2>@ViewData["Title"]</h2>
    <div class="form-horizontal">
        <h4>@SR["Your book query"]</h4>
        <hr />
        <dl>
            <dt>
                Votre star de la coiffure
            </dt>
            <dd>
                @Html.DisplayFor(m=>m.PerformerProfile)
            </dd>
            <dt>
                @Html.DisplayNameFor(m=>m.Prestation)
            </dt>
            <dd>
                @Html.DisplayFor(m=>m.Prestation)
            </dd>
            <dt>
                @Html.DisplayNameFor(m=>m.AdditionalInfo)
            </dt>
            <dd>@Html.DisplayFor(m=>m.AdditionalInfo)
            </dd>
        </dl>
<p>
    Addition minimale 
    (Compter des frais supplémentaires 
    en cas de longs déplacements,
        ou des majorations en cas de weekend et jour férie)
   <span class="price"> @ViewBag.Addition </span></p>
            </li>
            <li>
            @Model.AdditionalInfo

            </li>
            <li>
        @if (Model.EventDate == null) {
         <p>Pas de date convenue ...</p>
        } else {
        <label for="EventDate">
            @SR["Event date"]</label>
           @Html.DisplayFor(m => m.EventDate)
        }
            </li>
            <li>

        @if (Model.Location == null) {
         <p>Pas de lieu convenu ...</p> 
         } else {
        <label for="Location">@SR["Location"]</label>
         @Html.DisplayFor(m => m.Location)  

        }
        </li>
        </ul>

        @if (ViewBag.GooglePayload !=null) 
        {
            @if (ViewBag.GooglePayload.success>0) {
                <h4>@SR["GCM Notifications sent"]</h4>
            }
            else {
                if (ViewBag.GooglePayload.failure>0)
                    {
                        <div class="error">@SR["GCM Notification sending failed"]</div>
                    }
                    else {
                       <div class="error">@SR["E-mail sent"]</div>
                    }
            }
        }
</div>


