@model IEnumerable<HairCutQuery>

@{
    ViewData["Title"] = "Vos commandes en coiffure à domicile";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>
            @SR["DateCreated"]
        </th>
        <th>
            @SR["EventDate"]
        </th>
        <th>
            @SR["Location"]
        </th>
        <th>
            @SR["Performer"]
        </th>
        <th>
            @SR["ValidationDate"]
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformerProfile.Performer.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidationDate)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
            <a asp-action="ClientCancel" asp-route-id="@item.Id" class="btn btn-primary">Annuler cette commande</a>
        </td>
    </tr>
}
</table>
