@model IEnumerable<Estimate>

@{
    ViewData["Title"] = SR["My estimates"];
}

<h2>@SR["Index"]</h2>

<p>
    <a asp-action="Create">@SR["Create New"]</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query.Client)
        </th>
        <th>
            @SR["Performer"]
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderValidationDate)
        </th>
        <th>
            @SR["Id"]
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query.Client.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query.PerformerProfile.Performer.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderValidationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
