@using Yavsc.Models.Messaging;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("header", false)
</head>
<body>
    <main>
        <partial name="_Nav" />
        @RenderSection("ctxmenu", required: false)
          @if (ViewData["Notify"] != null)
    {
        foreach (Notification n in ViewData["Notify"] as IEnumerable<Notification>)
        {
            <div class="alert alert-info alert-dismissable">
                <img src="~/images/Notifications/@(n.icon).png" style="max-height:3em; float: left; margin:1em;" />
                <h2 markdown="@n.title"></h2>
                <a class="close" data-dismiss="alert" aria-label="close"
                    onclick="notifClick(@n.Id)">@((n.click_action == null) ? SR["Fermer"] : SR[n.click_action])</a>
                <asciidoc>@n.body</asciidoc>
            </div>
        }
    }
    @await RenderSectionAsync("subbanner", false)
        <div class="container body-container">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Yavsc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", false)
</body>
</html>
