@model UnregisterViewModel
@{
    ViewData["Title"] = @SR["Unregister"];
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="AdminDelete" method="post" class="form-horizontal" role="form">

    @Html.Hidden("UserId")
    @Html.Hidden("ReturnUrl")
    <input type="submit" value="@SR["Unregister"]" class="btn btn-default"/>
</form>

