@model ApplicationUser[]
@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<h2>@ViewData["Title"].</h2>
<table>
    <thead>
    <th>
        Public info"]
    </th>
    <th>
        AdminOnly"]
    </th>
        
    </thead>
@foreach (var user in Model)
{
    <tr>
    <td>
        @Html.DisplayFor(m=>user) 
    </td>
    <td>
        <dl>
            <dt>
                UserName
            </dt>
            <dd>
                @Html.DisplayFor(m=>user.UserName)
            </dd>
        </dl>
        <dl>
            <dt>
                FullName
            </dt>
            <dd>
                @Html.DisplayFor(m=>user.FullName)
            </dd>
        </dl>
        <dl>
            <dt>
                PostalAddress"]
            </dt>
            <dd>
                @Html.DisplayFor(m=>user.PostalAddress)
            </dd>
        </dl>
        <dl>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(m=>user.Email)
                @if (!user.EmailConfirmed) {
                <a asp-action="AdminSendConfirationEmail" asp-route-id="@user.Id" >Envoyer une demande de confirmation</a>          
                }
                 <a asp-action="AdminDelete" asp-route-id="@user.Id" >Supprimer</a>
            </dd>
        </dl>
    </td>
    </tr>
}
</table>

@if (ViewBag.hasNext)
{
    <a asp-route-page="@ViewBag.nextpage" asp-route-len="@ViewBag.pageLen">Next page</a>
}
