@model IEnumerable<Activity>

@{
    ViewData["Title"] = @SR["Page d'accueil"];
    int i=0;
    bool multipleact = Model.Count()>1;
}

@section scripts { 
    <script>
        $(document).ready(function(){
           var car = $('.carousel').first();
           var fi = car.children('.carousel-inner').first()
           .children('.item').first();
           var capt = fi.children('.carousel-caption-s');
         
            fi.addClass('active');
           car.animate({'background-color':'rgba(0, 0, 0, .5)'},500,function() {
               car.animate({'background-color':'rgba(0, 0, 0, 0)'},500)
           })
        })
    </script>
}
@section subbanner {

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @if (multipleact) {
           
    <ol class="carousel-indicators">
        @{
            
            foreach (var act in Model) { 
                if (i==0) {
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                } else {
        <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
                i++;
            }
        }
    </ol> }
    <div class="carousel-inner" role="listbox"> 
        @{
            string cls = "item";
            i=0;
            foreach (var act in Model) { 
        <div class="@cls"  style="background-image: url('@act.Photo'); background-repeat: no-repeat; ">
         
            <div class="carousel-caption-s" >
                <p><em>@act.Name</em><br/>
                @act.Description </p>

                @if (act.Children.Count>0) {
                    <a asp-route-id="@act.Code" class="btn btn-default">
                        @foreach (Activity c in act.Children) {
                           @Html.DisplayFor(subact=>c)
                        }
                </a>
                    }

                @foreach (var frm in act.Forms) {
                    <a class="btn btn-primary" asp-controller="FrontOffice" asp-action="@frm.ActionName" asp-route-id="@act.Code">
                    @frm.Title
                    </a>
                }
            </div>
        </div>
            i++;
            cls = "item";
            }
        }
    </div>
    @if (multipleact) {
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
    }
</div>

}

@section ctxmenu {
    @if (ViewData["Announces"]!=null) {
    <li><a asp-controller="Announces" class="badge" >
        <img src="@SiteSettings.Value.Logo" alt="announces" title="Annonces @SiteSettings.Value.Title" /></a></li>
    }
    @if ((int)ViewData["HaircutCommandCount"]>0) {
    <li><a asp-controller="HairCutCommand" class="badge" >
        <img src="~/images/shoppingcart.svg" alt="basket" title="Vos bons de commande" />(@ViewData["HaircutCommandCount"])</a></li>
    }

}
@section header {
     <script src="~/lib/bootstrap/js/carousel.js" asp-append-version="true"></script> 
    <style>
    .navbar {
        margin-bottom: 0;
    }
    </style>
}

<asciidoc>
Hello Forgejo !!!

Je sais que j'ai un mauvais à priori sur "go",
mais là, bon,

le CI façon woodpecker, sous Debian, le serveur SEGFAULT,
dans la stack au "go" ... no comment.

donc pas de CI pour le moment, 
mais je garde l'option Forgejo,

Le theme de couleur, il y est pas, 
mais l'IHM, la fonction, l'´erogonomie y sont.

J'ai du ramer un peu pour installer ma version compilée, docker, j'en veux pas,
et sans lui, la procédure en place semble cassée.

À la place, j'ai identifié les dossiers à deployer, et tout semble ok : 

https://forgejo.pschneider.fr/[Mon nouveau SI de tickets, je l´adopte, il fonctionne, les inscriptions sont ouvertes, et libres.]

</asciidoc>
