@model BookQuery
@using Yavsc.Models.Google.Messaging
@{
    ViewData["Title"] = SR["Book "+Model.PerformerProfile.ActivityCode];
}
@section header{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleSettings.BrowserApiKey"></script>

    <link rel="stylesheet" href="~/css/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css">    
    <style>
      #map {
        width: 100%;
        height: 250px;
      }
      #Location_combo li {
          cursor: pointer;
      }
      #Location_combo li:hover {
          text-decoration: underline;
      }
    </style>
}
@section scripts{
<script>
$(document).ready(function(){
    
    
    var gmap = new google.maps.Map(document.getElementById('map'), {
	    zoom: 16,
	    center: { lat: @Model.Location.Latitude, lng: @Model.Location.Longitude }
	  });
    var marker;
    
                
  
});
</script>
}
<h2>@ViewData["Title"]</h2>
    <div class="form-horizontal">
        <h4>@SR["Your book query"]</h4>
        <hr />
        @Html.DisplayFor(m => m.EventDate)
        @Html.DisplayFor(m => m.Location)
        <h4>@SR["Notifications sent to its devices"]</h4>
        <hr />
        @if (ViewBag.GooglePayload !=null) 
        {
           
            @if (ViewBag.GooglePayload.results !=null) {
              @:success:  @ViewBag.GooglePayload.success
              @:failure:  @ViewBag.GooglePayload.failure
              <br/>
               
                    @foreach (MessageWithPayloadResponse.Result mr in ViewBag.GooglePayload.results) {
                   @:message_id: @mr.message_id
                   @:registration_id: @mr.registration_id
                   @:error: @mr.error
                   <br/>
                }
            }
        }
</div>


