@model Yavsc.Models.Messaging.Announce

@{
    ViewData["Title"] = @SR["Details"];
}

<h2>@SR["Details"]</h2>

<div>
    <h4>Announce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.For)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.For)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a> |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
