@using Yavsc.Abstract.Identity
@model ApplicationUser

<div class="userinfo">
@if (Model != null && !string.IsNullOrWhiteSpace(Model.UserName))
{
   string avuri = UserDisplayHelpers.AvatarSrc(Model);

  <a title="Posts" asp-controller="Blogspot" asp-action="Index" asp-route-id="@Model.UserName" class="btn btn-primary">
        <img src="@avuri" asp-append-version="true" class="smalltofhol" alt="@Model.UserName" title="@Model.UserName" />
    </a>

 } else {
  <div class="alert alert-warning">
      <strong>Utilisateur inconnu</strong>
      <img src="@YavscConstants.DefaultAvatar" class="smalltofhol" alt="Utilisateur inconnu" title="Utilisateur inconnu" />
  </div>
 }
</div>
