<!doctype html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
        <title>@ViewData["Title"] - @SiteSettings.Value.Title</title>

            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        
        <environment names="Development">
        <script src="~/js/jquery-2.2.4.js" ></script>
            <script src="~/js/showdown.js"></script>
            <script src="~/js/md-helpers.js"></script>
            
            <link rel="stylesheet" href="~/css/main/site.css" asp-append-version="true"/>
            <link rel="stylesheet" href="~/css/main/jquery-ui.css" asp-append-version="true"/>
            <link rel="alternate stylesheet" title="Dark" href="~/css/dark/site.css" asp-append-version="true" />
            <link rel="alternate stylesheet" title="Clear" href="~/css/clear/site.css" asp-append-version="true" />
            <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
            <script src="~/js/bootstrap.js" asp-append-version="true"></script>
            <script src="~/js/jquery.signalR-2.2.1.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>

        <environment names="yavsc,yavscpre,zicmoove,lua,coiffure">
            <script src="~/js/jquery-2.2.4.min.js" ></script>
            <script src="~/js/showdown.min.js"></script>
            <script src="~/js/md-helpers.min.js"></script>
            <link rel="stylesheet" href="~/css/main/site.min.css" asp-append-version="true"/>
            <link rel="stylesheet" href="~/css/main/jquery-ui.min.css" asp-append-version="true"/>
            <link rel="alternate stylesheet" title="Dark" href="~/css/dark/site.min.css" asp-append-version="true" />
            <link rel="alternate stylesheet" title="Clear" href="~/css/clear/site.min.css" asp-append-version="true" />
       
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.signalR-2.2.1.min.js" asp-append-version="true"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
           
        </environment>

 <environment names="Development,coiffure">

<style>
    body {
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
</style>
 </environment>

 <style>
     nav { background: url(@Startup.SiteSetup.Banner) 0% 50% no-repeat; }
</style>
        @RenderSection("header", required: false)
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" asp-route-id="" class="navbar-brand">@SiteSettings.Value.Title</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @RenderSection("ctxmenu", required: false)
                        <li><a asp-controller="Blogspot" asp-action="Index" class="navbar-link">@SR["Blogs"]</a></li>
                        <li><a asp-controller="Home" asp-action="Chat" class="navbar-link">@SR["Chat"]</a></li>
                        <li><a asp-controller="Home" asp-action="Contact" class="navbar-link">@SR["Contact"]</a></li>
                        <li><a asp-controller="Home" asp-action="About" class="navbar-link">@SR["About"] @SiteSettings.Value.Title</a> </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span> @System.Globalization.CultureInfo.CurrentUICulture.DisplayName </span> 
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="setUiCult('fr')" style="cursor:pointer" >@SR["Français"]</a></li>
                                <li><a onclick="setUiCult('en')" style="cursor:pointer">@SR["Anglais"]</a></li>
                            </ul>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    @if (ViewData ["Notify"] != null) {
    foreach (Notification n in ViewData ["Notify"] as IEnumerable<Notification>) {
    <div class="alert alert-info alert-dismissable">
    <img src="~/images/Notifications/@(n.icon).png" style="max-height:3em; float: left; margin:1em;"/> <h2 markdown="@n.title"></h2>
    <a class="close" data-dismiss="alert" aria-label="close" onclick="notifClick(@n.Id)">@((n.click_action==null)?SR["Fermer"]:SR[n.click_action])</a>
    <markdown>@n.body</markdown>
    </div>}
        }
        @RenderSection("subbanner", required: false)
        <main class="container body-content" role="main">
            @RenderBody()
        </main>
        <hr />
        <footer>
<environment names="Development">
    <p><em>Site de développement</em></p>
</environment>
<i>@SiteSettings.Value.Slogan</i>
<environment names="yavsc,zicmoove,lua,coiffure">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '552433071604577',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/fr_FR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div style="float:right;"
  data-ref="ZicMoove"
  class="fb-like"
  data-share="true"
  data-width="300"
  data-show-faces="true"
  data-colorscheme="dark">
</div>
</environment>
            <p class="small">Yavsc - Copyright &copy; 2015 - 2017 Paul Schneider</p>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
