<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
        <link rel="icon" href="/favicon.ico?v2" />
        <title>@ViewData["Title"] - @SiteSettings.Value.Title</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production,yavsc,yavscpre,booking,lua">
            <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true"/>
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        <environment names="Development">
            <script src="~/js/jquery.js"></script>
            <script src="~/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production,yavsc,yavscpre,booking,lua">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/bower_components/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery" >
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
        </environment>
        @RenderSection("header", required: false)
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@SiteSettings.Value.Title</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index" class="navbar-link">@SR["Home"]</a></li>
                        <li><a asp-controller="Blogspot" asp-action="Index" class="navbar-link">@SR["Blogs"]</a></li>
                        <li><a asp-controller="Home" asp-action="About" class="navbar-link">@SR["About"] @SiteSettings.Value.Title</a> </li>
                        <li><a asp-controller="Home" asp-action="Chat" class="navbar-link">@SR["Chat"]</a></li>
                        <li><a asp-controller="Home" asp-action="Contact" class="navbar-link">@SR["Contact"]</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <main class="container body-content" role="main">
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>Yavsc - Copyright &copy; 2016  Paul Schneider</p>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
