@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
         <language-layout>
             <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" class="navbar-link" asp-action="Index" title="Manage">@SR["Hello"] @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link">@SR["Logout"]</button>
            </li>
        </ul>
         </language-layout>
    </form>
}
else
{ <language-layout>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" asp-controller="Account" asp-action="Register">@SR["Register"]</a></li>
        <li><a class="navbar-link" asp-controller="OAuth" asp-action="SignIn">@SR["Login"]</a></li>
    </ul>
</language-layout>
}
 