@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" class="navbar-link" asp-action="Index" title="Manage">
                   @await Component.InvokeAsync("Avatar", User.GetUserId(), ".xs")
                    @SR["Hello"] @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" >@SR["Logout"]</button>
                <input type="hidden" name="ReturnUrl" value="@Url.Action()" />
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" asp-controller="Account" asp-action="Register" asp-route-returnurl="@Url.Action()" >@SR["Register"]</a></li>
           
        <li><a class="navbar-link" asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@Url.Action()" >@SR["Login"]</a></li>
    </ul>
}
 