
@model AuthorisationView

<div class="jumbotron">
    <h1>Authorization @Application?.DisplayName</h1>
    
    <p>@Model.Message</p>

    <p class="lead text-left">Do you wanna grant <strong>@Model.Application.DisplayName</strong> an access to your resources? (scopes requested: @Model.Message.Scope)</p>

    <form enctype="application/x-www-form-urlencoded" method="post">
        @Html.AntiForgeryToken()

        @foreach (var scope in Model.Scopes) {
           <li>@scope</li>
        }
        @Html.Hidden("ReturnUrl")
        <input formaction="/oauth/accept" class="btn btn-lg btn-success" name="Authorize" type="submit" value="Yeah, sure" />
        <input formaction="/oauth/deny" class="btn btn-lg btn-danger" name="Deny" type="submit" value="Hell, no" />
        <input formaction="/oauth/deny" class="btn btn-lg btn-success" name="Submit.Login" type="submit" value="Login using another account" />
      </form>
</div>
