
@using Microsoft.AspNet.Http.Authentication
@using Yavsc.ViewModels.Account
@model SignInViewModel
@{
    ViewData["Title"] = SR["Log in"];
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    
    <h2 class="lead text-left">@SR["Use a local account to log in"]</h2>
      <form action="@Constants.LoginPath" method="post" class="form-horizontal" role="form">

                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label for="UserName" class="col-md-2 control-label">@SR["UserName"]</label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">@SR["Password"]</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                        <label for="RememberMe" class="control-label">@SR["Remember me"]</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-lg btn-success" name="submit.Signin">@SR["Login"]</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-controller="Account">@SR["Register as a new user"]?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword" asp-controller="Account">@SR["Forgot your password?"]</a>
                </p>
                <input type="hidden" name="Provider" value="LOCAL" />
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                
                @Html.AntiForgeryToken()
            </form>

    <hr/>
    <h2 class="lead text-left">@SR["Use another service to log in"]:</h2>
    @if (Model.ExternalProviders==null || Model.ExternalProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        @foreach (var description in Model.ExternalProviders) {
        <form action="@Constants.LoginPath" method="post">
            <input type="hidden" name="Provider" value="@description.AuthenticationScheme" />
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <button class="btn btn-lg btn-success" type="submit" name="Submit.Login">@SR["Connect using"] @description.DisplayName</button>
            @Html.AntiForgeryToken()
        </form>
        }
    } }

</div>
