@model Yavsc.Models.Blog

@{
    ViewData["Title"]="Details";
}

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SR[Html.DisplayNameFor(model => model.Title)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @SR[Html.DisplayNameFor(model => model.Photo)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            @SR["Author"]
        </dt>
        <dd>
            @Model.Author.UserName
        </dd>
        <dt>
          @SR["Content"]
        </dt>
        <dd>
            <div markdown="@Model.Content" site="SiteSettings.Value"></div>
        </dd>
        <dt>
            @SR[Html.DisplayNameFor(model => model.Modified)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>
        
        <dt>
            @SR[Html.DisplayNameFor(model => model.Posted)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>
        <dt>
            @SR[Html.DisplayNameFor(model => model.Rate)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        
        <dt>
            @SR[Html.DisplayNameFor(model => model.Visible)]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
    </dl>
</div>
    <ul>
    @if (await AuthorizationService.AuthorizeAsync(User, Model, new EditRequirement())) {
    <li>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a>
    </li>
    }
    <li>
    <a asp-action="Index">@SR["Back to List"]</a>
    </li>
    </ul>
