@model Yavsc.Models.Blog

@{
    ViewData["Title"]=Model.Title;
}

<div>
<img class="blogphoto" alt="" src="@Model.Photo" >
<h1 class="blogtitle" ismarkdown>@Model.Title</h1>
   
    <h1>

    </h1>
    <hr />
    <div markdown="@Model.Content" site="SiteSettings.Value"></div>
   <hr/>

<div class="meta"> 
    @SR["Author"] :  @Model.Author.UserName -
       
            @SR["Modified"] :

            @Html.DisplayFor(model => model.DateModified) -
        
            @SR["Created"] :
       
            @Html.DisplayFor(model => model.DateCreated) 
 </div>
     
</div>
<ul>
@if (await AuthorizationService.AuthorizeAsync(User, Model, new EditRequirement())) {
<li>
<a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a>
</li>
}
<li>
<a asp-action="Index">@SR["Back to List"]</a>
</li>
</ul>
