@model Yavsc.Models.Blog

@{
    ViewData["Title"]="Details";
}

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>
        <dt>
            @SR["Author"]
        </dt>
        <dd>
            @Model.Author.UserName
        </dd>
        <dt>
          Contenu
        </dt>
        <dd>
            <div markdown="@Model.bcontent" base="~/@Model.Id"
            site="SiteSettings.Value"></div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.posted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.posted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.visible)
        </dd>
    </dl>
</div>
    <ul>
    @if (await AuthorizationService.AuthorizeAsync(User, Model, new EditRequirement())) {
    <li>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </li>
    }
    <li>
    <a asp-action="Index">Back to List</a>
    </li>
    </ul>
