@model Blog

@{
    ViewData["Title"]=Model.Title;
}

<div>
<img class="blogphoto" alt="" src="@Model.Photo" >
<h1 class="blogtitle" ismarkdown>@Model.Title</h1>
   
    <div markdown="@Model.Content" class="blog"></div>
   <hr/>

<div class="meta"> 
    @Html.DisplayFor(model => model.Author) 
       
    @Html.DisplayNameFor(model => model.DateModified) :

    @Html.DisplayFor(model => model.DateModified) 

    @Html.DisplayNameFor(model => model.DateCreated) :

    @Html.DisplayFor(model => model.DateCreated) 
 </div>
     
</div>
@if (await AuthorizationService.AuthorizeAsync(User, Model, new EditRequirement())) {
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link">@SR["Edit"]</a>
}
<a asp-action="Index" class="btn btn-link">@SR["Back to List"]</a>
