@model Yavsc.Models.Blog

@{
    ViewData["Title"]=Model.Title;
}

<div>
    <img alt="" src="@Model.Photo">
    <h1>
<div markdown="@Model.Title" site="SiteSettings.Value"></div>

    </h1>
    <hr />
    <div markdown="@Model.Content" site="SiteSettings.Value"></div>
   <hr/>

<div class="meta"> 
    @SR["Author"] :  @Model.Author.UserName -
       
            @SR["Modified"] :

            @Html.DisplayFor(model => model.Modified) -
        
            @SR[Html.DisplayNameFor(model => model.Posted)] :
       
            @Html.DisplayFor(model => model.Posted) 
 </div>
     
</div>
<ul>
@if (await AuthorizationService.AuthorizeAsync(User, Model, new EditRequirement())) {
<li>
<a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a>
</li>
}
<li>
<a asp-action="Index">@SR["Back to List"]</a>
</li>
</ul>
