@model IEnumerable<Yavsc.Models.Blog>
@{
    ViewData["Title"] = "Index";
    
}

<h2>Index</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<p>
    <a asp-action="Create">@SR["Create a new article"]</a>
</p>
<table class="table">
    <tr>
        <th>
            @SR[Html.DisplayNameFor(model => model.title)]
        </th>
        <th>
            @SR["Author"]
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
       @Html.DisplayFor(modelItem => item.photo)
           <markdown>@item.title</markdown>
        </td>
        <td>
            <em>@item.Author?.UserName</em>
            <hr>
            <i>@Html.DisplayFor(modelItem => item.posted)</i>
            <i>@Html.DisplayFor(modelItem => item.modified)</i>
            <i>@Html.DisplayFor(modelItem => item.rate)</i>
        </td>
        <td>
            <ul class="actiongroup">
                <li><a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </li>
            @if (await AuthorizationService.AuthorizeAsync(User, item, new EditRequirement())) {
            <li><a asp-action="Edit" asp-route-id="@item.Id">@SR["Edit"]</a>
            </li>
            <li><a asp-action="Delete" asp-route-id="@item.Id">@SR["Delete"]</a>
            </li>
            }
            </ul>
        </td>
    </tr>
}
</table>



