@model IEnumerable<Yavsc.ViewModels.FrontOffice.PerformerProfileViewModel>
  
@{
    ViewData["Title"] = ViewBag.Activity?.Name ?? "Any" ;
}
<h1>@ViewData["Title"]</h1>
<em>@ViewBag.Activity.Description</em>

@foreach (var profile in Model) {
    <hr/>
   @Html.DisplayFor(m=>profile) 
             <a asp-controller="HairCutCommand" asp-action="HairCut"
              asp-route-activityCode="@ViewBag.Activity.Code"
              asp-route-performerId="@profile.PerformerId" 
              class="btn btn-success">
                 Proposer un rendez-vous à"] @profile.UserName
                 </a>
  
}

