@model IEnumerable<PerformerProfileViewModel>
  
@{
    ViewData["Title"] = (ViewBag.Activity?.Name ?? SR["Any"]) ;
}
<h1>@ViewData["Title"]</h1>
<em>@ViewBag.Activity.Description</em>

@foreach (var profile in Model) {
    <hr/>
   @Html.DisplayFor(m=>profile)
    <a class="btn btn-success" asp-controller="Command" asp-action="Create" asp-route-proId="@profile.PerformerId"
    asp-route-billingCode="Profiles" asp-route-activityCode="@ViewBag.Activity.Code"  >
    @SR["Proposer un rendez-vous à"] @profile.UserName
    </a>
}

