@model AdminViewModel

@{ 
    ViewBag.Title = SR["Administration"];
}

<h2>@ViewBag.Title</h2>
<h3>Rôles</h3>
<ul>
@foreach (var role in Model.Roles) {
<li>@Html.ActionLink(role.Name,"Role",new { id=role.Id }) (@role.Users.Length membres)</li>
}
</ul>
<h3>Administrateurs</h3>
<dl><dt>
Nombre  </dt><dd> @Model.AdminCount</dd>
<dt>Êtes-vous administrateur?</dt>
<dd>@(Model.YouAreAdmin?"Oui":"Non")</dd>
</dl>
<p>
 
</p>
<h3>Logiciel</h3>
<dl>
    <dt>Cette librairie
    </dt>
    <dd>@ViewBag.ThisAssembly
    </dd>
    <dt>Version du runtime
    </dt>
    <dd>@ViewBag.RunTimeVersion
    </dd>
</dl>

<h3>Coiffure</h3>

<a asp-controller="HairTaints" class="btn btn-primary">
    Gestion des couleurs
</a>