@model Yavsc.Models.Identity.DeviceDeclaration

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>AreYourSureYouWantToDeleteThis</h3>
<div>
    <h4>DeviceDeclaration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeclarationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeclarationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GCMRegistrationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GCMRegistrationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
