@model Yavsc.Models.Identity.DeviceDeclaration

@{
    ViewData["Title"] = @SR["Details"];
}

<h2>@SR["Details"]</h2>

<div>
    <h4>DeviceDeclaration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeclarationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeclarationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GCMRegistrationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GCMRegistrationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.DeviceId">Edit</a> |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
