@model IEnumerable<PerformerProfile>
  
@{
    ViewData["Title"] = "Les profiles - " + (ViewBag.Activity?.Name ?? SR["Any"]);
}
<h1>@ViewData["Title"]</h1>
<em>@ViewBag.Activity.Description</em>

@foreach (var profile in Model) {
    <hr/>
   @Html.DisplayFor(m=>profile) 
             <a asp-controller="HairCutCommand" asp-action="HairCut"
              asp-route-activityCode="@ViewBag.Activity.Code"
              asp-route-performerId="@profile.Performer.Id" 
              class="btn btn-link">
                 @SR["Proposer un rendez-vous à"] @profile.Performer.UserName
                 </a>
  
}

