@model IEnumerable<PerformerProfile>
  
@{
    ViewData["Title"] = (ViewBag.Activity?.Name ?? SR["Any"]) ;
}
<h1>@ViewData["Title"]</h1>
<em>@ViewBag.Activity.Description</em>

@foreach (var profile in Model) {
    <hr/>
   @Html.DisplayFor(m=>profile)
    <form action="~/Command/Create" >
        <input type="hidden" name="id" value="@profile.PerformerId" />
        <input type="hidden" name="activityCode" value="@ViewBag.Activity.Code" />
             <input type="submit" class="btn btn-success" value="@SR["Proposer un rendez-vous à"] @profile.Performer.UserName"/>
    </form> 
}

