@model IEnumerable<Yavsc.Models.IT.Fixing.Bug>

@{
    ViewData["Title"] = "DeleteAllLike";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Id)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Title)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.FeatureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Id)
        </td>
        <td>
            @Html.DisplayFor(model => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeatureId)
        </td>
        <td>

            @typeof(Yavsc.Models.IT.Fixing.BugStatus).GetEnumNames()[(int)item.Status]
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="DeleteAllLike" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
