@model Yavsc.Models.IT.Fixing.Bug

@{
    ViewData["Title"] = @SR["Details"];
}

<h2>@SR["Details"]</h2>

<div>
    <h3>Bug</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SR["FeatureId"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatureId)
        </dd>
        <dt>
            @SR["Title"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @SR["Status"]
        </dt>
        <dd>
            @SR[typeof(Yavsc.Models.IT.Fixing.BugStatus).GetEnumNames()[(int)Model.Status]]
        </dd>
    </dl>

    <h3>@SR["Description"]</h3>
    <code><pre>@Html.DisplayFor(model => model.Description)</pre></code>

</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a> |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
