@model IEnumerable<Client>

@{
    ViewData["Title"] = @SR["Index"];
}

<h2>@SR["Index"]</h2>

<p>
    <a asp-action="Create">@SR["Create New"]</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoutRedirectUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedirectUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefreshTokenLifeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogoutRedirectUri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedirectUri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefreshTokenLifeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
