@model DateTimeChooserViewModel
@{
    var dtpid = $"dtpckr{Model.InputId}";
}

<div class='input-group date' data-provide="datepicker-inline" id=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(dtpid))>
    <input class="form-control " name="@Model.InputId" id="@Model.InputId" />
    <span class="input-group-addon">
         <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript">
    $(function () {
        $(@Html.Raw("'#"+dtpid+"'")).datetimepicker({
            locale: 'fr',
            disabledDates: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BusyDates)),
            maxDate: '@Model.MaxDate.ToString("MM/dd/yyyy")',
            minDate: '@Model.MinDate.ToString("MM/dd/yyyy")',
            format: 'MM/DD/YYYY HH:mm'
        });
    });
</script>