@model Yavsc.Models.Streaming.LiveFlow

@{
    ViewData["Title"] = @SR["Delete"];
}

<h2>@SR["Delete"]</h2>

<h3>@SR["AreYourSureYouWantToDeleteThis"]</h3>
<div>
    <h4>LiveFlow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DifferedFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DifferedFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pitch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pitch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">@SR["Back to List"]</a>
        </div>
    </form>
</div>
