@model CircleMember

@{
    ViewData["Title"] = @SR["Delete"];
}

<h2>@SR["Delete"]</h2>

<h3>Supprimer cette appartenance au cercle?</h3>
<div>
    <hr />
    <dl>
        <dt>
Cercle
        </dt>
        <dd>
@Html.DisplayFor(m=>m.Circle)
        </dd>
        <dt>
Membre
        </dt>
        <dd>
@Html.DisplayFor(m=>m.Member)
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">@SR["Back to List"]</a>
    </div>
</form>
