@model Client

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["AreYourSureYouWantToDeleteThis"]</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontChannelLogoutUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontChannelLogoutUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedirectUris)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedirectUris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsoluteRefreshTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsoluteRefreshTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientSecrets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientSecrets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessTokenType)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Back to List"]</a>
        </div>
    </form>
</div>
