@model Client

<h2>@Localizer["Details"]</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontChannelLogoutUri)
        </dt>
            @Html.DisplayFor(model => model.FrontChannelLogoutUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedirectUris)
        </dt>
        <dd>
            <ul>
            @foreach (var uri in Model.RedirectUris)
                { <li>@uri.RedirectUri</li> }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsoluteRefreshTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsoluteRefreshTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientSecrets)
        </dt>
        <dd>
            <ul>
                @foreach(var secret in Model.ClientSecrets)
                {
                <li>@Html.DisplayForModel(secret)</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessTokenType) 
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</p>
