@using IdentityServer8.Models;
@model IEnumerable<IdentityServer8.EntityFramework.Entities.Client>

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>

@foreach (var item in Model)
{
    <div class="list-item">
        
    <div class="card">
    <h5 class="card-title">Identifier</h5>
    <h6 class="card-subtitle mb-2 text-muted">and activation</h6>
        <dl class="card-body">

            <dt>
                @Html.DisplayNameFor(modelItem => item.ClientName)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ClientName)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.ClientId)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ClientId)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Enabled)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Enabled)
            </dd>
        </dl>
    </div>
    
    <div class="card">

    <h5 class="card-title">Urls</h5>
    <h6 class="card-subtitle mb-2 text-muted">login and logout, refresh token</h6>
        <dl class="card-body">
            <dt>
                @Html.DisplayNameFor(model => model.FrontChannelLogoutUri)
            </dt>
            <dd> @Html.DisplayFor(model => item.FrontChannelLogoutUri)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.RedirectUris)</dt>
            <dd>
                @foreach (var uri in item.RedirectUris)
                {
                    <li>@uri.RedirectUri</li>
                }
            </dd>
            <dt>@Html.DisplayNameFor(model => model.AbsoluteRefreshTokenLifetime)</dt>
            <dd>@Html.DisplayFor(model => item.AbsoluteRefreshTokenLifetime)</dd>
                
        </dl>
    </div>

    <div class="card">

    <h5 class="card-title">Grants</h5>
    <h6 class="card-subtitle mb-2 text-muted">and access type</h6>

        <dl class="card-body">
            <dt>@Html.DisplayNameFor(model => model.AllowedGrantTypes)</dt>
            <dd> @foreach (var t in item.AllowedGrantTypes)
                {
                    <li>@t.GrantType</li>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessTokenType)
            </dt>
            <dd>
                @Enum.GetName(typeof(AccessTokenType), item.AccessTokenType)
    
            </dd>
        </dl>
    </div>

    <a class="btn btn-primary btn-lg" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
    <a class="btn btn-secondary btn-lg" asp-action="Details" asp-route-id="@item.Id">Details</a>
    <a class="btn btn-danger btn-lg" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
       
    </div>
}
