@model Yavsc.Models.Musical.InstrumentRating

@{
    ViewData["Title"] = @SR["Create"];
}

<h2>@SR["Create"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>@SR["InstrumentRating"]</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
      
                <input  asp-for="OwnerId" type="hidden" Value="@User.GetUserId()" />
        <div class="form-group">
            <label asp-for="Rate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <select asp-for="InstrumentId" asp-items=@ViewBag.YetAvailableInstruments>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Rate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@SR["Back to List"]</a>
</div>

