@model Yavsc.Models.Haircut.BrusherProfile

@{
    ViewData["Title"] = "Profile coiffeur";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    @if (Model!=null) {

        <fieldset>
<legend>Disponibilités</legend>

      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EndOfTheDay)
        </dt>
        <dd>
            @Html.Partial("HourFromMinutes", Model.EndOfTheDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartOfTheDay)
        </dt>
        <dd>
            @Html.Partial("HourFromMinutes", Model.StartOfTheDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionDistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionDistance)
        </dd>
    </dl>
  </fieldset>
  <fieldset>
<legend>Tarifs divers</legend>
    <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.ShampooPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShampooPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlatFeeDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlatFeeDiscount)
        </dd>
        </dl>
  </fieldset>

  <fieldset>
<legend>Tarifs balayages</legend>

      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LongBalayagePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongBalayagePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfBalayagePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfBalayagePrice)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.ShortBalayagePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortBalayagePrice)
        </dd>
        </dl>
  </fieldset>

  <fieldset>
<legend>Tarifs défrisage</legend>

      
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.HalfDefrisPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfDefrisPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongDefrisPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDefrisPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDefrisPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDefrisPrice)
        </dd>
</dl>
  </fieldset>

  <fieldset>
<legend>Tarifs mèches</legend>

      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HalfMechPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfMechPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongMechPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongMechPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortMechPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortMechPrice)
        </dd>


        

        </dl>
  </fieldset>
  <fieldset>
<legend>Tarifs coupes</legend>

      
    <dl class="dl-horizontal">

     
  <dt>
            @Html.DisplayNameFor(model => model.WomenHalfCutPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WomenHalfCutPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WomenLongCutPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WomenLongCutPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WomenShortCutPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WomenShortCutPrice)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.ManCutPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManCutPrice)
        </dd>

           <dt>
            @Html.DisplayNameFor(model => model.KidCutPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KidCutPrice)
        </dd>

</dl>
  </fieldset>
  <fieldset>
<legend>Tarifs couleurs</legend>

      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LongColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongColorPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfColorPrice)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ShortColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortColorPrice)
        </dd>
    </dl>
        <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortMultiColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortMultiColorPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfMultiColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfMultiColorPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongMultiColorPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongMultiColorPrice)
        </dd>

</dl>
  </fieldset>
  <fieldset>
<legend>Tarifs burshing</legend>

      
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.LongBrushingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongBrushingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfBrushingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfBrushingPrice)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.ShortBrushingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortBrushingPrice)
        </dd>


         
</dl>
  </fieldset>
  <fieldset>
<legend>Tarifs permanentes</legend>

      
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.LongPermanentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongPermanentPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfPermanentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfPermanentPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ShortPermanentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortPermanentPrice)
        </dd>
        
      

    </dl>
  </fieldset>
  <fieldset>
<legend>Tarifs mise en plis</legend>

      
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.LongFoldingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongFoldingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfFoldingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfFoldingPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ShortFoldingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortFoldingPrice)
        </dd>
        
      

    </dl>
  </fieldset>
 <fieldset>
<legend>Spécialités homme</legend>

      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManBrushPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManBrushPrice)
        </dd>

    </dl>
  </fieldset>
    <p>
        <a asp-action="Edit" >@SR["Edit"]</a> 
        <a asp-action="Delete" asp-route-id="@Model.UserId">@SR["Delete"]</a>
    </p>
    }
    else {
    <p>
        @SR["Aucun profile renseigné"]
        <a asp-action="Create" class="btn btn-success">@SR["Renseigner ce paramêtrage"]</a> 
    </p>
    }
</div>
