@model SetGoogleCalendarViewModel

@{
    ViewData["Title"] = "Setup Google calendar access";
}
<form asp-action="SetGoogleCalendar">
@{ var entryNum=0; }
@foreach (var calendar in Model.Calendars.Items)
{
    entryNum++;
    @if (calendar.AccessRole=="owner") {
        <label >
    <input type="radio" name="GoogleCalendarId" value="@calendar.Id" id="cal@entryNum">
    
        <span style="background-color: @calendar.BackgroundColor; foreground-color: @calendar.ForegroundColor;">
            @calendar.Summary </span>
        <i>"@calendar.Description"</i>
    </label>
    
    }
}
<input type="radio" name="GoogleCalendarId"  id="cal0">
    <label for="cal0">
        @SR["No calendar setup"]
        <i>"@SR["Do not use any Google calendar to determine my availability"]"</i>
    </label>
@Html.Hidden("ReturnUrl")
<input type="submit"/>
</form>
 