@model SetGoogleCalendarViewModel

@{
    ViewData["Title"] = "Setup Google calendar access";
}
<form asp-action="SetGoogleCalendar">
@{ var entryNum=0; }
@foreach (var calendar in ViewBag.Calendars.items)
{
    entryNum++;
    @if (calendar.accessRole=="owner") {
    <input type="radio" name="GoogleCalendarId" value="@calendar.id" id="cal@entryNum">
    <label for="cal@entryNum">
        <span style="background-color: @calendar.backgroundColor; foreground-color: @calendar.foregroundColor;">
            @calendar.summary </span>
        <i>"@calendar.description"</i>
    </label>
    
    }
}
<input type="radio" name="GoogleCalendarId"  id="cal0">
    <label for="cal0">
        @SR["No calendar setup"]
        <i>"@SR["Do not use any Google calendar to determine my availability"]"</i>
    </label>
@Html.Hidden("ReturnUrl")
<input type="submit"/>
</form>
 