@model SiteSettings
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
@Model.Owner.Name <br>
@Html.DisplayFor(m=>m.Owner.PostalAddress)</p>

<address>
    <strong>Support:</strong> <a href="mailto:@Model.Admin.EMail">@(Model.Admin.Name)&lt;@(Model.Admin.EMail)&gt;</a><br />
    <strong>Marketing:</strong> <a href="mailto:@Model.Owner.EMail">@(Model.Owner.Name)&lt;@(Model.Owner.EMail)&gt;</a>
</address>
