<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Yavsc">
  <a class="navbar-brand" href="#">@Config.SiteSetup.Title</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbar" aria-controls="navbar" 
      aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar" style="background-image: @Config.SiteSetup.Banner;">
        <ul class="navbar-nav me-auto" >
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a asp-controller="Blogspot" asp-action="Index" class="nav-link">@Localizer["Blogs"]</a></li>
          <li class="nav-item"><a asp-controller="Home" asp-action="Contact" class="nav-link">@Localizer["Contact"]</a></li>
          <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">@Localizer["About"]</a></li>
          <partial name="_LoginPartial" />
        </ul>
      </div>
  </nav>

