@model HairCutQuery
@{
    ViewData["Title"] = "Command confirmation"+" "+ViewBag.Activity.Name;
}
@section header {
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
}

<h2>@ViewData["Title"]</h2>
    <div class="form-horizontal">
        <h4>Your book query</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Votre prestataire"]
            </dt>
            <dd>
                @Html.DisplayFor(m=>m.PerformerProfile)
            </dd>
            <dt>
                @Html.DisplayNameFor(m=>m.Prestation)
            </dt>
            <dd>
                @Html.DisplayFor(m=>m.Prestation)
            </dd>
            <dt>
                @Html.DisplayNameFor(m=>m.AdditionalInfo)
            </dt>
            <dd>
                @if (string.IsNullOrWhiteSpace(Model.AdditionalInfo))
                {
                    <span class="info">Aucune information complémentaire n'a
                        été saisie.</span>
                }
                @Html.DisplayFor(m=>m.AdditionalInfo)
            </dd>

            <dt>Addition minimale
            </dt>
            <dd> <span class="price"> @ViewBag.Addition </span> <br/>

     (Compter des frais supplémentaires <br/>
    en cas de longs déplacements,<br/>
        ou des majorations en cas de weekend et jour férie)
            </dd>
            <dt>Date de la prestation</dt>
            <dd>@if (Model.EventDate == null) {
         <p>Pas de date convenue ...</p>
        } else {
        <label for="EventDate">
            Event date"]</label>
           @Html.DisplayFor(m => m.EventDate)
        }</dd>
        <dt> @Html.DisplayNameFor(m => m.Location)
        </dt>
        <dd>@if (Model.Location == null) {
         <p>Pas de lieu convenu ...</p> 
         } else {
        <label for="Location">Location</label>
         @Html.DisplayFor(m => m.Location)
        }
        </dd>
        <dt>Notification
        </dt>
        <dd>@if (ViewBag.GooglePayload !=null) 
        {
            @if (ViewBag.GooglePayload.success>0) {
                <h4>GCM Notifications sent</h4>
            }
            else {
                if (ViewBag.GooglePayload.failure>0)
                    {
                        <div class="error">EGCMBUTEMAIL</div>
                    }
                    else {
                       <div>E-mail sent"]</div>
                    }
            }
        } else {<div>E-mail sent"]</div>}
        </dd>
        <dt>Numéro identifiant votre commande</dt>
        <dd>@Model.Id</dd>

        <dt>La facture
        </dt>
        <dd>@await Component.InvokeAsync("Bill", Model)
        </dd>
        
        <dt>@Html.DisplayNameFor(m=>m.Regularisation)</dt>
        <dd> @await Component.InvokeAsync("PayPalButton", Model)
        </dd>
     </dl>
    
</div>
