@model Comment

<div data-type="blogcomment" data-id="@Model.Id" data-allow-edit="@(User.GetUserId()==Model.AuthorId?"true":"false")" 
        data-allow-moderate="@ViewData["moderatoFlag"]" data-date="@Model.DateCreated.ToString("yyyy-MM-dd hh:mm:ss")" data-username="@Model.Author.UserName" >
        <asciidoc>@Model.Content</asciidoc>
        
 @if (Model.Children!=null) {
    <div class="subcomments">
            @foreach (var comment in Model.Children) 
            {
                Html.DisplayFor(model=>comment,"Comment","Comment");
            }
    </div>
}
        
</div>
