@model AdminViewModel

@{ 
    ViewBag.Title = SR["Administration"];
}

<h2>@ViewBag.Title</h2>
<h3>Rôles</h3>
<ul>
@foreach (var role in Model.Roles) {
<li>@Html.ActionLink(role.Name,"Role",new { id=role.Id }) (@role.Users.Length membres)</li>
}
</ul>
<h3>Administrateurs</h3>
<dl><dt>
Nombre  </dt><dd> @Model.AdminCount</dd>
<dt>Êtes-vous administrateur?</dt>
<dd>@(Model.YouAreAdmin?"Oui":"Non")</dd>
</dl>
<p>
 
</p>

<h3>Utilisateurs</h3>
    <a asp-action="UserList" asp-controller="Account">
    @Model.UserCount utilisateurs enregistrés</a>

<h3>Logiciel</h3>
<dl>
    <dt>Cette librairie
    </dt>
    <dd>@ViewBag.ThisAssembly
    </dd>
    <dt>Version du runtime 
    </dt>
    <dd>@ViewBag.RunTimeVersion 
    </dd>

    <dt>Hôte 
    </dt>
    <dd>@ViewBag.HostContextFullName
    </dd>
</dl>

<h3>Coiffure</h3>

<a asp-controller="HairTaints" class="btn btn-primary">
    Gestion des couleurs
</a>

<h3>Devices</h3>
<a asp-controller="Devices" class="btn btn-primary">
     Cloud Messaging
</a>

<h3>Applications tièrces</h3>
<a asp-controller="Client" class="btn btn-primary">
     @SR["OAuth key management"]
</a>

