@model RoleUserCollection
@{ 
    ViewBag.Title = "Role"+" "+Model.Name;
}

<h2>@ViewBag.Title</h2>
<p>
<a asp-action="Enroll" asp-route-RoleName="@Model.Name" class="btn btn-default" >Enroll</a>
</p>

<ul>
<table class="table">
    <tr>
        <th>
            User"]
        </th>
        <th>
        </th>
    </tr>

@foreach (var user in Model.Users) {
    <tr>
        <td>
            <img src="~/avatars/@(user.UserName).xs.png" alt="avatar"/>
            <span> @user.UserName </span>
        </td>
            <td>
            <a asp-action="Fire" asp-route-RoleName="@Model.Name" asp-route-UserId="@user.UserId" class="btn btn-success" >
            <img src="~/images/ptcroix.png" /> Fire </a>
            </td>
    </tr>
}
</table>
