@model IEnumerable<Yavsc.Server.Models.IT.SourceCode.GitRepositoryReference>

@{
    ViewData["Title"] = @SR["Index"];
}

<h2>@SR["Index"]</h2>

<p>
    <a asp-action="Create">@SR["Create New"]</a>
</p>
<table class="table">
    <tr>
        <th>Chemin</th>
        <th/>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Path
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Path  }) |
            @Html.ActionLink("Details", "Details", new { id=item.Path  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Path  })
        </td>
    </tr>
}
</table>
