@model UserActivityViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Détails de votre activité en <em>@Model.Declaration.Does.Name</em></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Activity</dt>
        <dd>@Html.DisplayFor(m=>m.Declaration.Does)
          @if (Model.NeedsSettings) {
              <a asp-controller="@ViewBag.ProfileType.Name" asp-action="Index" class="btn btn-default">
                  @SR[Model.Declaration.Does.SettingsClassName]
                @if (Model.Settings==null) {
                    <span class="badge">Non renseigné: Cliquez vite<br/> ici pour positionner les<br/>
                    paramêtres de cette activité</span>
                }
              </a>
            }
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Declaration.UserId" asp-route-activityCode="@Model.Declaration.DoesCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
